body {
  background-color: #d6dbef;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2a7a;
  height: 70px;
}

.header__logo {
  width: 100px;
  height: 50px;
  outline: 1px solid #000;
  background-color: #fff;
  text-align: center;
}

.products {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.btn-cart {
  border: none;
  border-radius: 10px;
  background-color: #fdff6e;
  width: 110px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
}

.btn-cart:hover {
  background-color: #ffe000;
  color: #ff0000;
}

.center {
  padding: 0 calc(50% - 570px);
}

.product-item {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-img {
  border: 1px solid #000;
  margin: 10px;
}

.product-price {
  color: red;
}

.by-btn {
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #fdff6e;
  height: 30px;
  width: 140px;
}

.by-btn:hover {
  background-color: #ffe000;
  color: #ff0000;
}
