body {
  background-color: #d6dbef;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a2a7a;
  height: 70px;
}

.header__logo {
  color: #fdff6e;
  font-weight: bold;
  text-transform: uppercase;
}

.products {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: #fdff6e;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  right: 0;
  outline: none;
  cursor: pointer;
}

.search-form {
  position: relative;
  margin-right: 50px;
  display: inline-block;
}
.search-field:focus {
  outline: none;
}
.search-field {
  box-sizing: border-box;
  width: 200px;
  color: #fafafa;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fafafa;
}

.cart {
  position: relative;
  display: flex;
}
.cart-block {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
  border-radius: 5px;
  box-sizing: border-box;
  right: 20px;
  top: 130%;
  position: absolute;
  background-color: white;
  padding: 15px;
  color: black;
  width: 100%;
}

.product-desc {
  margin-left: 5px;
}

.product-bio {
  display: flex;
}

.right-block {
  text-align: right;
}

.cart-block:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 46px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.invisible {
  display: none;
}

.btn-cart {
  border: none;
  border-radius: 10px;
  background-color: #fdff6e;
  width: 110px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.btn-cart:hover {
  background-color: #ffe000;
  color: #ff0000;
}

.center {
  padding: 0 calc(50% - 570px);
}

.product-item {
  border: 1px solid #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.product-cart-item {
  display: flex;
  align-items: center;
  margin: 5px;
  border: 1px solid #000;
}

.desc {
  margin: 0 18px 0 18px;
}

.product-img {
  border: 1px solid #000;
  margin: 10px;
}

.product-price {
  color: red;
}

.by-btn {
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: #fdff6e;
  height: 30px;
  width: 140px;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
}

.by-btn:hover {
  background-color: #ffe000;
  color: #ff0000;
}

.error {
  margin: 200px auto;
  width: 415px;
  background-color: #fff;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

.error-alert {
  margin: auto;
}